#viewer-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrapper
{
    position: relative;
    margin-left: 25%;
    width: 50%;
    border:2px solid black;
    border-radius:10px;
}

.wrapper:before
{
    display: block;
    content: "";
    padding-top: 56.25%;
}
