#viewer-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 10px;
}

.wrapper {
  top:0;
    position: relative;
    margin-left: 25%;
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
}

.wrapper:before {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.preloader-spinner {
    margin: 0 auto;
    border: 4px solid rgba(0, 0, 0, .1);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin .4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.preloader-text {
    margin-top: 10px;
}
