.row   {
    background: rgba(0, 0, 0, 0.4);
    padding: 10px; /* Поля вокруг текста */
    display: flex;
    align-items: center;
    z-index: 2;
    position:absolute;
    top:0;
    width:100%;
   }
 
 
 #footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: rgba(0, 0, 0, 0); /* Цвет фона */
    color: #ffffff; /* Цвет текста */
 
     z-index: 2;
 }
 .Window
 {
   position: absolute;
   bottom: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.4);
   height:160px; /* Высота блока */
   width: 250px;
   z-index: 2;
   padding: 10px;
   margin-right: 40px;
   margin-bottom: 40px;
   border:1px solid #333;
   color:white;
   line-height: 1.5;
 
 }
 .WindowMoney
 {
   position: absolute;
   bottom: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.4);
   z-index: 2;
   padding: 10px;
   margin-right: 40px;
 margin-bottom: 300px;
   margin-top: 200px;
   border:1px solid #333;
   color:white;
   line-height: 2.5;
 }
 
 ul
 {
   list-style-type:none;
   margin-left: -30px;
 
 }
 
 .p1
 {
   margin-right: 0px;
   margin-left:  520px;
 
 }
 
 .p3
 {
   margin-right: 540px;
   margin-left:  0px;
 }
 .dropdown
 {
   padding-left:5px;
   display: inline-block;
 
 }
 .text-center
 {
   display: inline-block;
 }
 .text-oplata
 {
 padding-left:5px;
 
 }
 .text-oplata-chena
 {
   font-weight: 1000;
 }